boto==2.49.0
Django==2.2.10
django-simple-pagination==1.1.4
django-storages==1.9.1
Pillow==9.3.0
requests==2.23.0
gunicorn==19.6.0
whitenoise==3.1
dj-database-url==0.4.1
psycopg2==2.7.1
microurl==0.1.1
