{% extends 'posts/new_base.html' %}
{% load paginate %}
{% load blog_tags %}
{% block blog_content %}
  <!-- <div class="row col-sm-12 col-md-9 blog-container-left">
    <div class="blogs">
      <ul class="blog-list">
        {% if blog_posts %}
        {% paginate 5 blog_posts %}
        {% for blog in blog_posts %}
        <li class="list-item">
          <div class="blog-left">
            <h3 class="title" itemprop="headline"><a href="{% url 'blog_post_view' blog_slug=blog.slug %}">{{ blog }}</a></h3>
          </div>
          <div class="desc">
            <span> {{ blog.user|title }} | {{ blog.updated_on|date:"d F Y" }}</span>
            {{ blog.content|safe|truncatewords_html:50 }}
            {% for tag in blog.tags.all %}
            <span class="tags">
              <a href="{% url 'selected_tag' tag_slug=tag.slug %}"><i class="fa fa-tags"></i> {{ tag }}</a>
            </span>
            {% endfor %}
            <p class="continue-read"><a href="{% url 'blog_post_view' blog_slug=blog.slug %}">Continue reading ....</a></p>
          </div>
        </li>
        <hr />
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div> -->
  <!-- breadcrumbs-schema -->
  {% if tag or date or category %}
    <nav aria-label="breadcrumb">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/">
            <span itemprop="name">Blog</span></a>
          <meta itemprop="position" content="1" />
        </li>
        {% if tag %}
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="/">
              <span itemprop="name">Tag</span></a>
            <meta itemprop="position" content="2" />
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" aria-current="page">
            <span itemprop="tag">{{ tag }}</span>
            <meta itemprop="position" content="3" />
          </li>
        {% endif %}
        {% if date %}
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="name">Archive</span>
            <meta itemprop="position" content="2" />
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" aria-current="page">
            <span itemprop="month">{{ date|date:"F Y"}}</span>
            <meta itemprop="position" content="3" />
          </li>
        {% endif %}
        {% if category %}
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="/">
              <span itemprop="name">Category</span></a>
            <meta itemprop="position" content="2" />
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" aria-current="page">
            <span itemprop="name"> {{ category }}</span>
            <meta itemprop="position" content="3" />
          </li>
        {% endif %}
      </ol>
    </nav>
  {% endif %}
  <!-- end -->
  <!-- blog_list_container starts here -->
  <div class="blog_list_container" itemscope itemtype='https://schema.org/blogPosts'>
    {% if blog_posts %}
      {% paginate 5 blog_posts %}
      {% for blog in blog_posts %}
        <!-- blog_container starts here -->
        <div class="blog_container" itemprop="liveBlogUpdate" itemscope itemtype="http://schema.org/BlogPosting">
          {% if blog.featured_image %}
            <div class="blog_img">
              <img src="{{ blog.featured_image.url }}" />
            </div>
          {% endif %}
          <div class="blog_content_container row">
            <div class="blog_title col-md-12" itemprop="blog-article">
              <a href="{% url 'blog_post_view' blog_slug=blog.slug %}" itemprop="name headline">{{ blog }}</a>
            </div>
            <div class="col-md-12 author_category">
              <a href="#" class="author" itemprop="author" itemtype="http://schema.org/Person"><i class="fa fa-user"></i> By <span itemprop="name">{{ blog.user }}</span></a>, 
              <span class="activity">Posted on <span itemprop="datePublished" itemtype="https://schema.org/datePublished"><i class="fa fa-calendar"></i>  {{ blog.updated_on|date:"F d, Y" }}</span></span>, 
              <a href="{% url 'selected_category' category_slug=blog.category.slug %}" class="category" itemprop="category" itemtype="http://schema.org/category"><i class="fa fa-list"></i> <span itemprop="name">{{ blog.category }}</span></a>
            </div>
            <div class="col-md-12 blog_desc" itemprop="description">
              {{ blog.content|safe|truncatewords_html:50 }}
            </div>
          </div>
          <div class="share_more">
            <span class="more"><a href="{% url 'blog_post_view' blog_slug=blog.slug %}">Continue Reading</a></span>
          </div>
        </div>
        <!-- blog_container ends here -->
      {% endfor %}
      <!-- pagination -->
      <div class="pagination_wrap">
        {% show_pages %}
      </div>
      <!--/ pagination -->
    {% else %}
      <h2 align="center">There are no Blog-posts are here !</h2>
    {% endif %}
  </div>
  <!-- blog_list_container ends here -->
{% endblock %}
{% block js_script %}
  <script type="text/javascript">
    $('#home').addClass('active');
  </script>
{% endblock %}