body {
}

#head_style {
	margin-top: 40px;
	top: 30px;
}

#my_table td {
	text-align: center;
}

#my_table th {
	text-align: center;
}

.pagination_wrap {
	text-align: center;
}

#top_menu {
  background: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #e1e1e1;
}

#top_menu {
  position: fixed;
  margin: 5px;
  padding: 0px 10px;
  left: 0;
  top: 0;
  width: 100%;
}

.error_required {
    color: red;
}

.my_alert {
    margin: 5px;
    position: fixed;
    top: 20px;
    left: 30%;
    width: 40%;
    z-index: 10;
}