{% extends 'dashboard/new_base.html' %}
{% block title %}
  Change Password
{% endblock %}
{% block content %}
  <div class="row no_row_margin heading_count">
    <div class="heading col-md-6" id='page_title'>
      Change Password
    </div>
  </div>
  <!-- end class of row -->
  <div class="row no_row_margin justify-content-md-center">
    <div class="container-fluid">
      <div class="col">
        <form class="form" action="" id="post-form" enctype="multipart/form-data" method="post" role="form" novalidate>
          {% csrf_token %}
          <div class="row form_row no_row_margin">
            <div class="col col-md-4">
              {% for field in form %}
                <div class="form-group">
                  <label for="id_{{field.name}}">{{ field.label }} :</label>
                  {{ field }}
                  {% if field.help_text %}
                  <small id="{{field.name}}Help" class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            <br clear="all">
            <div class="col col-md-12 buttons_row">
              <button type="submit" class="btn btn-secondary green_btn"> <i class="fa fa-floppy-o" aria-hidden="true"></i> Submit</button>
              <button type="reset" class="btn btn-secondary blue_btn"> <i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end div row of form -->
{% endblock %}
{% block js_script %}
  <script type="text/javascript">
    $('#post-form').submit(function(event) {
      event.preventDefault()
      $.post("", $(this).serialize(), function(response) {
        $('.error').remove();
        if (response.error) {
          $.each(response.errors, function(name, error) {
            $("[name=" + name + "]").after("<span class='error'>* " + error + "</span>")
          });
        } else {
          window.location = response.success_url
        }
      }, 'json');
    });
  </script>
{% endblock %}