<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog {% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
        <div class="container">
            {% block menu_block %}
            <div class="row">
                <ul class="nav nav-pills">
                  <li role="presentation" id="home"><a href="/blog">Home</a></li>
                  <li role="presentation" id="categories"><a href="{% url 'blog:categories' %}">Categories</a></li>
                </ul>
            </div>
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
        <!-- end div container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% block js_script %}
    {% endblock %}

</body>
</html>