{% extends 'base.html' %}
{% load paginate %}
    {% block extra_css %}
    <style type="text/css">
        table td {
            padding: 6px;
        }
    </style>
    {% endblock %}
    {% block content %}

        <div class="row" id="head_style">
            <h1 align="center"><i class="fa fa-newspaper-o"></i> Blog List </h1>
            <p align="center" class="lead">
                <a href="{% url 'blog:blog_add' %}" >
                    <button class="btn btn-default"><i class="fa fa-plus"></i> Add Blog</button>
                </a>
            </p>

        <!-- end div of add blog button -->

            <div class="bulk_button">
               <!-- Bulk actions -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-gear"></span> Bulk <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li id="drafted"><a href="#"> Drafted <span class="fa fa-file pull-right"></span></a></li>
                    <li id="published"><a href="#"> Published <span class="fa fa-thumbs-up pull-right"></span></a></li>
                    <li id="rejected"><a href="#"> Rejected <span class="fa fa-thumbs-down pull-right"></span></a></li>
                    <li id="delete"><a href="#"> Delete <span class="fa fa-trash-o pull-right"></span></a></li>
                  </ul>
                </div>
              <!--Bulk actions end-->
            </div>

        </div>

        <br clear="all">

        {% paginate 5 blog_list %}
        {% show_pageitems %}

        <div class="row">
            <table class="table table-bordered table-hover" id="my_table">
                <thead>
                    <tr>
                        <th><input name="bulk_actions" id="selectAll" type="checkbox"></th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th colspan="3">Actions</th>
                    </tr>
                </thead>

                {% for blog in blog_list %}
                    <tbody>
                        <tr>
                            <td><input name="bulk_actions" class="bulk_actions" value="{{ blog.id }}" type="checkbox"></td>
                            <td>{{ blog.title }}</td>
                            <td>{{ blog.user }}</td>
                            <td>{{ blog.category }}</td>
                            <td id="blog_status"><i class=""></i> {{ blog.status }}</td>
                            <td><a href="{% url 'blog:view_blog' blog_id=blog.id %}" ><button class="btn btn-primary"><i class="fa fa-eye"></i> View</button></a></td>
                            <td><a href="{% url 'blog:edit_blog' blog_id=blog.id %}"><button class="btn btn-info"><i class="fa fa-edit"></i> Edit</button></a></td>
                            <td><a href="{% url 'blog:delete_blog' blog_id=blog.id %}"><button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button></a></td>
                        </tr>
                    </tbody>

                {% endfor %}
            </table>
        <!-- end div of table -->

        <!-- pagination -->
          <div class="pagination_wrap">
              {% show_pages %}
          </div>
        <!--/ pagination -->

        </div>

    {% endblock %}
    {% block js_script %}
        <script type="text/javascript">
            $('table tr td#blog_status').each(function(){
                var status_val = $(this).text();

                if(status_val == ' Drafted'){
                    $(this).children('i').attr('class',"fa fa-file-o");
                }
                else if(status_val == ' Published'){
                    $(this).children('i').attr('class',"fa fa-thumbs-up");
                }
                else if(status_val == ' Rejected'){
                    $(this).children('i').attr('class',"fa fa-thumbs-down");
                }
            });
            $('#home').addClass('active');

        </script>

        <script type="text/javascript">
        $("#selectAll").change(function() {
            $(".bulk_actions:checkbox").attr('checked', this.checked);
        });

        $('#published').click(function(){

            var blog_ids = [];
            $.each($(".bulk_actions:checked"), function(){
                blog_ids.push(parseInt($(this).val(), 0));
            });

            $.get("{% url 'blog:bulk_actions_blog' %}", {'blog_ids':blog_ids, 'action': "Published"}, function(data){
                if(data['response']=='success'){
                    alert('Record(s) successfully updated as Published!');
                    window.location='/blog/';
                }else{
                    alert('Please select at least one record !');
                }
            }, 'json');

        });

        $('#drafted').click(function(){

            var blog_ids = [];
            $.each($(".bulk_actions:checked"), function(){
                blog_ids.push(parseInt($(this).val(), 0));
            });

            $.get("{% url 'blog:bulk_actions_blog' %}", {'blog_ids':blog_ids, 'action': 'Drafted'}, function(data){
                if(data['response']=='success'){
                    alert('Record(s) successfully updated as Drafted!');
                    window.location='/blog/';
                }else{
                    alert('Please select at least one record !');
                }
            }, 'json');

        });

        $('#rejected').click(function(){

            var blog_ids = [];
            $.each($(".bulk_actions:checked"), function(){
                blog_ids.push(parseInt($(this).val(), 0));
            });

            $.get("{% url 'blog:bulk_actions_blog' %}", {'blog_ids':blog_ids, 'action': 'Rejected'}, function(data){
                if(data['response']=='success'){
                    alert('Record(s) successfully updated as Rejected!');
                    window.location='/blog/';
                }else{
                    alert('Please select at least one record !');
                }
            }, 'json');

        });

        $('#delete').click(function(){
            var blog_ids = [];
            $.each($(".bulk_actions:checked"), function(){
                blog_ids.push(parseInt($(this).val(), 0));
            });

            $.get("{% url 'blog:bulk_actions_blog' %}", {'blog_ids':blog_ids, 'action': 'Delete'}, function(data){
                if(data['response']=='success'){
                    alert('Record(s) successfully Deleted!');
                    window.location='/blog/';
                }else{
                    alert('Please select at least one record !');
                }
            }, 'json');

        });
        </script>

    {% endblock %}