<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        table td {
            padding: 6px;
        }
    </style>
</head>
<body>
    <table style="border: 1px solid black;padding: 4px;margin: 4px;" border="1">
        <thead>
            <th>S.No</th>
            <th>Title</th>
            <th>Author</th>
            <th>Status</th>
            <th colspan="3">Actions</th>
        </thead>

        {% for blog in blog_list %}
            <tbody>
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ blog.title }}</td>
                    <td>{{ blog.user }}</td>
                    <td>{{ blog.status }}</td>
                    <td><a href="{% url 'blog:view_blog' blog_id=blog.id %}" ><button>View</button></a></td>
                    <td><a href="{% url 'blog:edit_blog' blog_id=blog.id %}"><button>Edit</button></a></td>
                    <td><a href="{% url 'blog:delete_blog' blog_id=blog.id %}"><button>Delete</button></a></td>
                </tr>
            </tbody>

        {% endfor %}
    </table>
</body>
</html>