{% extends 'dashboard/base.html' %}
    {% load staticfiles %}

    {% block title %}
        {% if add_blog %}
            Add
        {% else %}
            Edit
        {% endif %} Blog
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
    {% block content %}

    <div class="row" id="head_style">
        <h3 id="page_title"></h3>
    </div>
    <div class="row">
        <form action="" method="post" enctype="multipart/form-data" id="post-form" role="form">
            {% csrf_token %}

            {% for field in form %}

                    <div class="form-group">
                        <label>{{ field.label }} :</label>
                        <div class="controls">{{ field }}
                            {% if field.help_text %}
                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>

            {% endfor %}

            <div class="form-group">

                    <button class="btn btn-primary" type="submit">Submit</button>

            </div>
        </form>
    </div>
    <span id='dd'>dinesh</span>
    <!-- end of add form div -->

    {% endblock %}

    {% block js_script %}
        <script type="text/javascript">

          $(document).ready(function(){

            // for form submission
            CKEDITOR.replace('content',{
              filebrowserUploadUrl: '{% url "blog:upload_photos" %}',
              filebrowserBrowseUrl: '{% url "blog:recent_photos" %}'
            });

                $('#post-form').submit(function(event){
                    event.preventDefault();

                    $('#id_content').val(CKEDITOR.instances.id_content.getData());
                    $.post("",$('#post-form').serialize(), function(data){
                        if(data.error)
                        {
                            $('p.error_required').remove();
                            for (var key in data.response){
                                $('#id_'+key).after("<p class='error_required'> * "+data.response[key]+"</p>");
                            }
                        } else{
                            window.location='/dashboard/blog/';
                            }
                    }, "json");
                });
            //  script for form submission ends here


            // for page title

                if(window.location.pathname=='/dashboard/add/'){
                    $('#page_title').text('Add Blog');
                }
                else{
                    var blog = '{{ blog_name.title }}';
                    $('#page_title').text('Edit Blog: '+ blog);
                }

            //script for page title ends here

            // for tags

                function onAddTag(tag) {
                    alert("Added a tag: " + tag);
                }
                function onRemoveTag(tag) {
                    alert("Removed a tag: " + tag);
                }

                function onChangeTag(input,tag) {
                    alert("Changed a tag: " + tag);
                }

                $(function() {
                    $('.myTags').tagsInput({width:'auto'});
                });

            // script for tags ends here


          });
        </script>
	<script>
	var timeoutId;
	$('#post-form').on('input propertychange change', function auto_save() {
	    console.log('Textarea Change');
	    
	    clearTimeout(timeoutId);
	    timeoutId = setTimeout(function() {
	        // Runs 1 second (1000 ms) after the last change    
	        saveToDB();
	    }, 1000);
	});
	
	function saveToDB()
	{
	    console.log('Saving to the db');
	    form = $('#post-form');
		$.ajax({
			url: "",
			type: "POST",
            dataType: "json",
			data: form.serialize(), // serializes the form's elements.
			beforeSend: function(xhr) {
	            // Let them know we are saving
				$('#dd').html('Saving...');
			},
			success: function(data) {
				//var jqObj = jQuery(data); // You can get data returned from your ajax call here. ex. jqObj.find('.returned-data').html()
	            // Now show them we saved and when we did
	            var d = new Date();
	            $('#dd').html('Saved! Last: ' + d.toLocaleTimeString());
                $('#id_title').val(data.title)
			},
		});
	}
	
	// This is just so we don't go anywhere  
	// and still save if you submit the form
	/*$('.contact-form').submit(function(e) {
		saveToDB();
		e.preventDefault();
	});*/
	</script>

    <script>
        for (var i in CKEDITOR.instances) {
            CKEDITOR.instances[i].on('blur', function(event){ event.preventDefault; alert('hi')});// { CKEDITOR.instances[i].updateElement() });
        }
    </script>
    {% endblock %}
