@import 'ref.scss';
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background: $body_bg;
    padding: 0px;
    margin: 0px;
    padding-bottom: 0px;
    color: #333;
    position: relative;
    padding-bottom:39px !important;
    @media (min-width: $mob_min) and (max-width: $smob_max) {
        padding: 0px;
    }
    &.fixed-top-menu {
        padding-top: 50px;
    }
    &.login_body{
      background: $login_bg;
    }
}
a{
  &:hover{
    text-decoration:none;
  }
}
.no_row_margin {
    margin-left: 0px;
    margin-right: 0px;
}
.container {
    @media (min-width: $mob_min) and (max-width: $tab_max) {
        width: 100%;
    }
}
/* login_block starts here */
.login_block{
  margin-top:150px;
  .account-wall{
    background: $login_block_bg;
    padding:30px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    .form-signin{
      padding: 15px;
      margin: 0 auto;
      .form-control{
        position: relative;
        font-size: 13px;
        height: auto;
        padding:15px 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:focus{
          z-index: 2;
          border:1px solid lighten($login_btn_bg, 15%);
        }
      }
      .btn{
        background: $login_btn_bg;
        color:#fff;
        text-align: center;
        padding:12px 6px;
        border:none;
        border-radius: 3px;
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      input[type="text"]{
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      input[type="password"]{
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0; 
      }
    }
    .forgot{
      color: $blue_bg;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 10px;
    }
  }
}
/* login_block ends here */
/* header starts here */
header{
  background:$login_block_bg;
  .navbar{
    margin-bottom: 0px;
    &.navbar-default{
      background: none;
      border-radius: 0;
      border:none;
      .navbar-nav{
        li{
          a{
            color:$menu_color;
          }
          &.active{
            a{
              background: $login_btn_bg;
              color:#fff;
            }
          }
          &.open{
            a{
              background: #4B5A71;
              color:#fff;
            }
            .dropdown-menu{
              padding:0;
              background: $menu_drop_bg;
              li{
                a{
                  font-size: 12px;
                  background: $menu_drop_bg;
                  padding:6px 15px;
                  &:hover{
                    background:$login_bg;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
    .navbar-header{
      .navbar-brand{
        color:#fff;
      }
    }
  }
}
/* header ends here */

/* main_container starts here */
.main_container{
  margin-top:20px;
  .heading_count{
    .heading{
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color:$login_block_bg;
      font-weight: 600;
    }
    .count_add-new{
      ul{
        display: inline-block;
        background: $blue_bg;
        li{
          a{
            color: #fff;
            display: inline-block;
            padding:7px 10px;
            &:hover{
              text-decoration:none;
            }
          }
        }
      }
      .add_new{
        a{
          background: $green_bg;
          color:#fff;
          font-size: 11px;
          text-transform: uppercase;
          display: inline-block;
          padding: 10px 10px 7px 10px;
          i{
            display: inline-block;
            margin-right: 6px;
          }
          &:hover{
            text-decoration: none;
            background: darken($green_bg, 10%);
          }
        }
      }
    }
  }
  /* filters starts here */
  .filters_row{
    .filter_left{
      .form-control{
        max-width: 250px;
        display: inline-block;
        border-radius: 0;
        border: none;
        outline: none;
        box-shadow: none;
        /* border: 1px solid #ddd; */
        font-size: 12px;
        background: #CACDCF;
        margin-right:0px;
      }
      button{
        background: $filter_bg;
        color:#fff;
        font-size: 11px;
        text-transform: uppercase;
        display: inline-block;
        padding: 11px 10px 8px 10px;
        border-radius: 0;
        border: none;
        margin-top: -1px;
        &:hover{
          background:darken($filter_bg, 10%);
        }
      }
    }
    .filter_right{
      @extend .filter_left;
      text-align: right;
    }
  }
  /* filters ends here */ 

  /* table_row starts here */
  .table_row{
    margin-top:15px;
    table{
      background: #fff;
      font-size: 12px;
      color: $filter_bg;
      tbody{
        tr{
          td{
            vertical-align: middle;
            .user_pic{
              width: 35px;
              height: 35px;
              margin-right: 10px;
            }
            a{
              color:$blue_bg;
            }
            &.tags{
              a{
                display: inline-block;
                padding:3px 6px;
                margin:2px;
                color:#fff;
                background: #7D8590;
              }
            }
            &.post_count{
              a{
                background: $yellow_bg;
                display: inline-block;
                padding:3px 6px;
                margin:2px;
                color:$filter_bg;
              }
            }
            &.actions{
              a{
                display: inline-block;
                padding:3px 6px;
                margin:2px;
                color:#fff;
                &.edit{
                  background: $green_bg;
                }
                &.delete{
                  background: $login_btn_bg;
                }
                i{
                  display: inline-block;
                  padding-right: 4px;
                }
              }
            }
            &.sub_menu{
              padding-left:25px;
            }
            &.status_on_off{
              font-size: 16px;
              a{
                &.status_off{
                  color:$menu_drop_bg;
                }
                &.status_on{
                  color:$blue_bg;
                }
              }
            }
            &.comments{
              text-align: center;
              a{
                display: inline-block;
                padding:3px 6px;
                margin:2px;
                color:#fff;
                background: $login_btn_bg;
              }
            }
          }
        }
      }
    }
  }

  /* table_row ends here */
  /* pagination starts here */
  .pagination{
    li{
      a{
        background: #CACDCF;
        border: 1px solid #EFF2F4;
        color:#555;
        &:hover{
           background:darken($filter_bg, 10%);
           color:#fff;
        }
      }
    }
  }
  /* pagination ends here */
  /* form_row starts here */
  .form_row{
    margin-top:20px;
    background: #fff;
    padding: 15px 0;
    .form-group{
      label{
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
      }
      .form-control{
        background: #fff;
        border-radius: 0px;
        padding: 10px 10px;
        height: 42px;
        font-size: 12px;
        box-shadow: none;
        border:1px solid #D9D9D9 !important;
      }
      .hint{
        margin-top:7px;
        font-size: 11px;
        font-style: italic;
        color:lighten($filter_bg, 20%);
      }
    }
  }
  /* form_row ends here */
}
/* main_container ends here */

.cke_chrome{
  box-shadow: none !important;
  border: none !important;
  border:1px solid #D9D9D9 !important;
}
.green_btn{
    background: $green_bg;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    border:none;
    box-shadow: none;
    border-radius: 0;
    display: inline-block;
    padding: 10px 20px 7px 20px;
    i{
      display: inline-block;
      margin-right: 5px;
    }
    &:hover{
      background: darken($green_bg, 10%);
      color:#fff;
    }
}
.blue_btn{
  @extend .green_btn;
  background: $blue_bg;
  &:hover{
    background: darken($blue_bg, 10%);
  }
}